{% extends 'misconduct/base.html' %}
{% load static from staticfiles %}

{% block title %}About | Sexual Misconduct | The Daily Californian{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
	<h2>About the data</h2>

	<p>In March 2016, the <a href="http://www.dailycal.org/2016/03/09/dean-campus-law-school-takes-leave-absence-position-allegations-sexual-harassment-arise/">case</a> of former UC Berkeley School of Law Dean Sujit Choudhry shone light on the ongoing crisis of sexual harassment and sexual violence in America’s universities. A campus Title IX investigation found that Choudhry had repeatedly kissed and hugged his executive assistant. At the time, it was the latest of a string of high-profile cases that revealed several senior administrators and faculty members had violated UC sexual misconduct policy. </p>

	<p>To determine just how pervasive the issue was at UC Berkeley, on March 14, 2016, then-Daily Californian assistant news editor Alexandra Yoon-Hendricks filed a California Public Records Act request for all Title IX investigations in which a respondent was found more likely than not to have violated UC sexual misconduct policy since January 2013. </p>

	<p>We received those documents April 5, 2016. They gave us <a href="http://www.dailycal.org/2016/04/06/in-past-seven-years-19-campus-employees-violated-sexual-harassment-policies/">incredible insight</a> into UC Berkeley’s hidden scandals and labyrinthine adjudication processes. But they also piqued our interest in the likelihood of a larger, systemic problem across the University of California. To make such a claim, however, we needed data that was neither readily available nor easy to obtain.</p>

	<p>On April 6, 2016, then-Daily Cal academics and administration reporter Austin Weinstein began to file similar California Public Records Act requests. This time, we filed with each UC campus to obtain all Title IX investigations in which a preponderance of evidence was found that the respondent had violated UC sexual misconduct policy. </p>

	<p>Our initial request was for records from 2006-16 — a 10-year span — yet the records we received Feb. 28, 2017, ranged only three years, from Jan. 1, 2013, to April 6, 2016. A statement from the UC Office of General Counsel prefacing the release of the documents said that earlier investigation reports “would not shed significant additional light on current University practices relative to the burden involved with review and redaction.”</p>

	<p>Many of these documents were heavily redacted, excluding names, job titles and sometimes even the gender pronouns of the complainants and respondents.</p>

	<p>All complainants’ names were redacted, as were about 65 respondents’ names, even when an allegation of misconduct was substantiated. According to the UC Office of General Counsel statement, names were redacted “where the conduct was not of a ‘substantial nature,’ particularly where a respondent employee is not a high-level public official or does not hold a special position of trust in relation to the complainant.”</p>

	<p>The office stated that a release of such names “would constitute an unwarranted invasion of personal privacy.” A UC spokesperson declined to expand on the redaction of certain respondents’ names.</p>

	<p>In some cases, a certain level of interpretations needed to be made to determine what Title IX investigators found. </p>

	<p>Title IX is a federal law that prohibits sex-based discrimination in any federally funded education program or activity. It states: "No person in the United States shall, on the basis of sex, be excluded from participation in, be denied the benefits of, or be subjected to discrimination under any education program or activity receiving Federal financial assistance." There are Title IX compliance offices at each campus that review complaints of sexual misconduct and discrimination.</p>

	<p>University Title IX investigations are not criminal investigations, and their findings are based on a lower standard of proof — “more likely than not” — than in criminal cases. When someone files a complaint with a campus’s Title IX office and an investigation begins, an investigator will typically interview the complainant (the person who filed the complaint), the respondent (the accused individual) and witnesses, if available, though this is not always the case. </p>

	<p>The reporting for this database was conducted by Katy Abbott, Alexander Barreira, Suhauna Hussain, Chantelle Lee, Jessica Lynn, Andrea Platten, Pressly Pratt, Harini Shyamsundar, Cassandra Vogel, Austin Weinstein, Melissa Wen and Alexandra Yoon-Hendricks. The database was created by Sahil Chinoy and Revati Kapshikar.</p>

	<p>We will continue our work to get access to records for the years we have yet to receive. Our database will be continually updated as we receive additional reports in the future, and we are currently working to add additional search features to this project.</p>
</div>
{% endblock %}