{% extends 'misconduct/base.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="col-md-8 col-md-offset-2">

<h5 id="sexual-misconduct">Sexual Misconduct</h5>
<div class="separator-top"></div>

<h1 id="number">113</h1>

<p id="info">University of California employees violated sexual misconduct policy in the past three years.</p>


<p id="description">Among these are award-winning scholars, lauded department chairs and highly paid NCAA coaches. This database summarizes information from hundred of pages of UC documents and contains scans of the original documentation. </p>


<div class="separator-last1"></div>
<div class="separator-last2"></div>

<div id="list-wrapper">
<input class="search form-control" placeholder="Search by name" />
<br />
<form id="filter-form" class="form-inline">
	<div class="dropdown">
	<button class="campusbtn btn-primary dropdown-toggle" type="button" id="campus-dropdown"
	        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  campus
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="campus-dropdown" id="campus-drop">
	  <li><a data-campus="all">All campuses</a></li>
	  <li><a data-campus="Berkeley">Berkeley</a></li>
	  <li><a data-campus="Davis">Davis</a></li>
	  <li><a data-campus="Irvine">Irvine</a></li>
	  <li><a data-campus="Los Angeles">Los Angeles</a></li>
	  <li><a data-campus="Merced">Merced</a></li>
	  <li><a data-campus="Riverside">Riverside</a></li>
	  <li><a data-campus="San Diego">San Diego</a></li>
	  <li><a data-campus="San Francisco">San Francisco</a></li>
	  <li><a data-campus="Santa Barbara">Santa Barbara</a></li>
	  <li><a data-campus="Santa Cruz">Santa Cruz</a></li>
	</ul>	
	</div>
</form>

<form id="filter-form2" class="form-inline">
	<div class="dropdown2">
	<button class="datebtn btn-primary dropdown-toggle" type="button" id="year-dropdown"
	        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  YEAR
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="year-dropdown" id="year-drop">
	  <li><a id="year" data-year="all">All years</a></li>
	  <li><a id="year" data-year="2015">2015</a></li>
	  <li><a id="year" data-year="2014">2014</a></li>
	  <li><a id="year" data-year="2013">2013</a></li>
	  <li><a id="year" data-year="2012">2012</a></li>
	  <li><a id="year" data-year="2011">2011</a></li>
	</ul>	
	</div>
</form>

	
<br />

<div class="list">
{% for case in object_list %}
<div class="list-item">
	<h3 class="name"><a href="{% url 'case-detail' case.slug %}">{{ case.respondent }}</a></h3>
	<h4>{{ case.respondent_position }}</h4> 
	<p>{{ case.description }}</p>
	<p><b>Resolution: </b>{{ case.resolution }}</p>
	<p class="labels"><span class="complaint_date">{{ case.complaint_date|date:"N Y" }}</span> &middot; <span class="campus">{{ case.campus }}</span></p>
</div>
{% endfor %}
</div>
</div>

</div>
{% endblock %}

{% block extra-css %}
<style>
#number {
	text-align: center;
	margin: auto;
	font-family: "Times New Roman", Times, serif;
	font-size: 250px;
	letter-spacing: -30px;
	margin-bottom: -35px;
	margin-top: -35px;
	margin-left: -35px;
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-weight: bold;

}

#sexual-misconduct {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	margin-top: 50px;
	margin-bottom: -15px;
}

#info {
	text-align: center;
	margin-bottom: 60px; 
	font-family: "Helvetica Nueue", Helvetica, Arial, Verdana, sans-serif;
	color: #393966;


/*color: #393966;
*/}

#description {
	font-family: "Helvetica Nueue", Helvetica, Arial, Verdana, sans-serif;
	margin-top: 80px;
		color: #393966;



}
.separator-top {
	height: 2px;
	margin: 20px auto;
	width: 60%;
	background-color: #393966;
	margin-bottom: 50px;


}

.separator-bottom {
	height: 1px;
	margin: 20px auto;
	width: 30%;

}

.separator-last1 {
	height: 1px;
	margin: 10px auto;
	width: 30%;
	background-color: #aaa;
	margin-top: 70px;

}

.separator-last2 {
	height: 1px;
	margin: 10px auto;
	width: 30%;
	background-color: #aaa;
	margin-bottom: 70px;
	margin-top: -5px;

}

.campusbtn {
  margin-left: 0px;
  margin-top: 1px;
  background-color: #e7e7e7;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: black;
  font-size: 13px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  left: 0px;
  border: none;

}

.datebtn {
  margin-left: 150px;
  margin-top: -100px;
  background-color: #e7e7e7;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: black;
  font-size: 13px;
  padding: 5px 15px 5px 15px;
  position: relative;
  bottom:30px;
  top: -27px;
  border: none;
}

.dropdown {
	display: inline;
	 position: relative;
}

.dropdown2 {
	display: inline-block;
	position: relative;
	right: 38px;
}

#year-drop {
	margin-left: 150px;
	margin-top:-20px;
}

#campus-drop {
	margin-left: 0px;
	margin-top:15px;
}

h3 a {
	/*color: #000;*/
}
h3 a:hover {
	/*color: #000;*/
	opacity: 0.4;
}
h4 {
	font-weight: 400;
}
.labels {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .5px;
}

</style>
{% endblock %}

{% block extra-js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
<script type="text/javascript">
var options = {
  valueNames: [
	  'name',
	  'campus',
	  'complaint_date'
  ]
};
var caseList = new List('list-wrapper', options);
var oldYear;
var oldCampus;

$('.dropdown-menu li a').click(function() {

	var year = $(this).data('year');
	var campus = $(this).data('campus');
	if (year != null) {
		oldYear = year;
	}
	if (campus != null) {
		oldCampus = campus;
	}
	if (year == null && oldYear == null) {
		year = 'all';
		oldYear = 'all'
	}
	if (campus == null && oldCampus == null) {
		campus = 'all';
		oldCampus = 'all';
	}

	if (this.id == "year") {
		$('#year-dropdown').html($(this).html() + ' <span class="caret"></span>');

    	if (year == 'all') {
    		$('#year-dropdown').html("YEAR" + ' <span class="caret"></span>')
    		caseList.filter(function(item) {
    			if (oldCampus == 'all') {
    				return true;
    			} else if (oldCampus = items.values().campus) {
    				return true
    			} else {
    				return false;
    			}
    		});
    	} else {
    		caseList.filter(function(item) {
    			var complaint_year = new Date(item.values().complaint_date).getFullYear();
				if (complaint_year == year && oldCampus =='all') {
					return true;
				} else if (complaint_year == year && item.values().campus == oldCampus) {
					return true;
				} else {
					return false;
				}
    		});
    	}
	} else {
		$('#campus-dropdown').html($(this).html() + ' <span class="caret"></span>');

		if (campus == 'all') {
			$('#campus-dropdown').html("CAMPUS" + ' <span class="caret"></span>');
			caseList.filter(function(item) {
				var complaint_year = new Date(item.values().complaint_date).getFullYear();
				console.log(oldYear);
				if (oldYear == 'all') {
					console.log("hobo")
					return true;
				} else if (oldYear == complaint_year) {
					console.log("part")
					return true;
				} else {
					return false;
				}
			});
		} else {
			caseList.filter(function(item) {
				console.log(year);
				if (item.values().campus == campus && oldYear == 'all') {
					return true;
				} else if (item.values().campus == campus && complaint_year == oldYear) {
					return true;
				} else {
					return false;
				}
			});
		}
	}
});


</script>
{% endblock %}