{% extends 'misconduct/base.html' %}
{% load static from staticfiles %}

{% block title %}Sexual Misconduct | The Daily Californian{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">

<h5 id="sexual-misconduct">Sexual Misconduct</h5>

<h1 id="number">124</h1>

<p id="info">cases of sexual misconduct have involved University of California employees in a three-year span, according to UC Title IX investigation reports.</p>
<div class="separator-last2"></div>

<p id="description">Among them are award-winning scholars, lauded department chairs and highly paid NCAA coaches. This database summarizes information from hundreds of pages of UC documents. <a href="http://www.dailycal.org/2017/02/28/its-rampant-documents-reveal-113-uc-employees-violated-sex-misconduct-policy-in-past-3-years/">Related story &raquo;</a></p>

<p id="disclaimer">Note: UC Title IX investigations are not criminal investigations, and their findings are based on a lower standard of proof than in criminal cases.</p>

<div class="separator-last2"></div>

<div id="list-wrapper">
<input class="search form-control" placeholder="Search by name" />
<br />

<form id="filter-form" class="form-inline">
	<div class="form-group dropdown">
		<button class="campusbtn btn-primary dropdown-toggle" type="button" id="campus-dropdown"
		        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		  All campuses
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="campus-dropdown" id="campus-drop">
		  <li><a data-campus="All campuses">All campuses</a></li>
		  <li><a data-campus="Berkeley">Berkeley</a></li>
		  <li><a data-campus="Davis">Davis</a></li>
		  <li><a data-campus="Irvine">Irvine</a></li>
		  <li><a data-campus="Los Angeles">Los Angeles</a></li>
		  <li><a data-campus="Merced">Merced</a></li>
		  <li><a data-campus="Riverside">Riverside</a></li>
		  <li><a data-campus="San Diego">San Diego</a></li>
		  <li><a data-campus="San Francisco">San Francisco</a></li>
		  <li><a data-campus="Santa Barbara">Santa Barbara</a></li>
		  <li><a data-campus="Santa Cruz">Santa Cruz</a></li>
		</ul>	
	</div>

	<div class="form-group dropdown">
		<button class="datebtn btn-primary dropdown-toggle" type="button" id="year-dropdown"
		        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		  All years
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="year-dropdown" id="year-drop">
		  <li><a id="year" data-year="All years">All years</a></li>
		  <li><a id="year" data-year="2016">2016</a></li>
		  <li><a id="year" data-year="2015">2015</a></li>
		  <li><a id="year" data-year="2014">2014</a></li>
		  <li><a id="year" data-year="2013">2013</a></li>
		  <li><a id="year" data-year="2012">2012</a></li>
		  <li><a id="year" data-year="2011">2011</a></li>
		</ul>	
	</div>
</form>

	
<br />

<div class="list">
{% for case in object_list %}
<div class="list-item">
	<h3 class="name">{{ case.respondent }}</h3>
	<h4>{{ case.respondent_position }}</h4> 
	<p>{{ case.description }}</p>
	<p class="labels">{% if case.complaint_date %}<span class="complaint_date"> Complaint Date: {{ case.complaint_date|date:"N Y" }}</span> &middot; Campus: {% endif %}<span class="campus">{{ case.campus }}</span></p>
</div>
{% endfor %}
</div>
</div>

</div>
{% endblock %}

{% block extra-css %}
<style>
#number {
	text-align: center;
	margin: auto;
	font-family: "Times New Roman", Times, serif;
	font-size: 250px;
	letter-spacing: -15px;
	margin-bottom: -35px;
	margin-top: -35px;
	margin-left: -35px;
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-weight: bold;
}

#sexual-misconduct {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	margin-top: 50px;
	margin-bottom: 35px;
}

#info, #description {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 18px;
	text-align: center;
	color: #393966;
	margin-top: 10px;
}

#disclaimer {
	font-size: 12px;
	margin-bottom: 25px;
}

#info {
	
	margin-bottom: 20px; 
	
	color: #393966;
}
#description {
	margin-top: 10px;
}

.separator-top {
	height: 2px;
	margin: 20px auto;
	width: 60%;
	background-color: #393966;
	margin-bottom: 50px;
}

.separator-bottom {
	height: 1px;
	margin: 20px auto;
	width: 30%;
}


.separator-last2 {
	height: 1px;
	margin: 10px auto;
	width: 30%;
	background-color: #aaa;
	margin-bottom: 40px;
	margin-top: px;

}

.btn-primary {
	background-color: #e7e7e7;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: black;
  font-size: 13px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  width: 200px;
}

h3 a {
	/*color: #000;*/
}
h3 a:hover {
	/*color: #000;*/
	opacity: 0.4;
}
h4 {
	font-weight: 400;
}
.labels {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .5px;
}

</style>
{% endblock %}

{% block extra-js %}
<script src="{% static 'misconduct/js/list.min.js' %}"></script>

<script type="text/javascript">
var options = {
  valueNames: [
	  'name',
	  'campus',
	  'complaint_date'
  ]
};
var caseList = new List('list-wrapper', options);

var year = 'All years';
var campus = 'All campuses';

$('.dropdown-menu li a').click(function() {
	// Get the year and campus
	year = $(this).data('year') || year;
	campus = $(this).data('campus') || campus;

	// Update the dropdowns
	$('#year-dropdown').html(year + ' <span class="caret"></span>');
	$('#campus-dropdown').html(campus + ' <span class="caret"></span>');

	var matches_year = function(item) {
		complaint_year = new Date(item.values().complaint_date).getFullYear();
		if (year == 'All years') {
			return true;
		} else if (year == complaint_year) {
			return true;
		} else {
			return false;
		}
	}

	var matches_campus = function(item) {
		if (campus == 'All campuses') {
			return true;
		} else if (campus == item.values().campus) {
			return true;
		} else {
			return false;
		}
	}

	// Filter the list
	caseList.filter(function(item) {
		return matches_campus(item) && matches_year(item);
	});

});
</script>
{% endblock %}