{% extends 'misconduct/base.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
	<h2>{{ object.respondent }}</h2>
	<p class="lead">{{ object.respondent_position }}</p>
	<p>{{ object.description }}</p>
	<p><b>Campus: </b>{{ object.campus }}</p>
	<p><b>Complaint date: </b>{{ object.complaint_date }}</p>

	<hr>

	<div id="DV-viewer"></div>
</div>
{% endblock %}

{% block extra-css %}
<style>
	.pdfobject-container { height: 600px;}
</style>
{% endblock %}

{% block extra-js %}
<script src="//assets.documentcloud.org/viewer/loader.js"></script>
<script>
  DV.load("https://www.documentcloud.org/documents/{{ object.documentcloud_id }}.js", {
  responsive: true,
    sidebar: false,
    text: false,
    container: "#DV-viewer"
  });
</script>
{% endblock %}