{% extends 'misconduct/base.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
<h5>Sexual Misconduct</h5>
<h1>113</h1>
<p id="info">University of California employees violated sex misconduct policy in the past three years.</p>
<p id="description"> At least 113 University of California faculty, staff and contractors violated UC sexual violence and harassment policy over the past three years at all UC campuses. Among them are award-winning scholars, lauded department chairs and highly paid NCAA coaches. This database summarizes information from hundred of pages of UC documents and contains scans of the original documentation. </p>
<div id="list-wrapper">
<input class="search form-control" placeholder="Search by name" />
<br />
<form id="filter-form" class="form-inline">
	<div class="dropdown">
	<button class="campusbtn btn-primary dropdown-toggle" type="button" id="campus-dropdown"
	        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  campus
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="campus-dropdown">
	  <li><a data-campus="all">All campuses</a></li>
	  <li><a data-campus="Berkeley">Berkeley</a></li>
	  <li><a data-campus="Davis">Davis</a></li>
	  <li><a data-campus="Irvine">Irvine</a></li>
	  <li><a data-campus="Los Angeles">Los Angeles</a></li>
	  <li><a data-campus="Merced">Merced</a></li>
	  <li><a data-campus="Riverside">Riverside</a></li>
	  <li><a data-campus="San Diego">San Diego</a></li>
	  <li><a data-campus="San Francisco">San Francisco</a></li>
	  <li><a data-campus="Santa Barbara">Santa Barbara</a></li>
	  <li><a data-campus="Santa Cruz">Santa Cruz</a></li>
	</ul>	
	</div>
</form>

<form id="filter-form2" class="form-inline">
	<div class="dropdown">
	<button class="datebtn btn-primary dropdown-toggle" type="button" id="year-dropdown"
	        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  YEARS
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="year-dropdown" id="year">
	  <li><a id="year" data-year="all">All years</a></li>
	  <li><a id="year" data-year="2015">2015</a></li>
	  <li><a id="year" data-year="2014">2014</a></li>
	  <li><a id="year" data-year="2013">2013</a></li>
	  <li><a id="year" data-year="2012">2012</a></li>
	  <li><a id="year" data-year="2011">2011</a></li>
	</ul>	
	</div>
</form>

	
<br />

<div class="list">
{% for case in object_list %}
<div class="list-item">
	<h3 class="name"><a href="{% url 'case-detail' case.slug %}">{{ case.respondent }}</a></h3>
	<h4>{{ case.respondent_position }}</h4> 
	<p>{{ case.description }}</p>
	<p><b>Resolution: </b>{{ case.resolution }}</p>
	<p class="labels"><span class="complaint_date">{{ case.complaint_date|date:"N Y" }}</span> &middot; <span class="campus">{{ case.campus }}</span></p>
</div>
{% endfor %}
</div>
</div>

</div>
{% endblock %}

{% block extra-css %}
<style>
h1 {
	text-align: center;
	margin: auto;
	font-family: "Times New Roman", Times, serif;
	font-size: 350px;
	letter-spacing: -30px;
	margin-bottom: -35px;
	margin-top: -35px;
	margin-left: -35px;
}

h5 {
	text-align: center;
	font-size: 50px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;


}

#info {
	text-align: center;
}

.campusbtn {
  background-color: #e7e7e7;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: black;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;

}

.datebtn {
  background-color: #e7e7e7;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: black;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  /*left:18%;*/
/*  text-decoration: none;
  position: absolute;
  display: inline-block;
  left:22%;*/
}



.dropdown {
	display: inline-block;
}

h3 a {
	/*color: #000;*/
}
h3 a:hover {
	/*color: #000;*/
	opacity: 0.4;
}
h4 {
	font-weight: 400;
}
.labels {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .5px;
}

</style>
{% endblock %}

{% block extra-js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
<script type="text/javascript">
var options = {
  valueNames: [
	  'name',
	  'campus',
	  'complaint_date'
  ]
};
var caseList = new List('list-wrapper', options);
var oldYear;
var oldCampus;

$('.dropdown-menu li a').click(function() {

	var year = $(this).data('year');
	var campus = $(this).data('campus');
	if (year != null) {
		oldYear = year;
	}
	if (campus != null) {
		oldCampus = campus;
	}
	if (year == null && oldYear == null) {
		year = 'all';
		oldYear = 'all'
	}
	if (campus == null && oldCampus == null) {
		campus = 'all';
		oldCampus = 'all';
	}

	if (this.id == "year") {
		$('#year-dropdown').html($(this).html() + ' <span class="caret"></span>');

    	if (year == 'all') {
    		caseList.filter(function(item) {
    			if (oldCampus == 'all') {
    				return true;
    			} else if (oldCampus = items.values().campus) {
    				return true
    			} else {
    				return false;
    			}
    		});
    	} else {
    		caseList.filter(function(item) {
    			var complaint_year = new Date(item.values().complaint_date).getFullYear();
				if (complaint_year == year && oldCampus =='all') {
					return true;
				} else if (complaint_year == year && item.values().campus == oldCampus) {
					return true;
				} else {
					return false;
				}
    		});
    	}
	} else {
		$('#campus-dropdown').html($(this).html() + ' <span class="caret"></span>');

		if (campus == 'all') {
			caseList.filter(function(item) {
				var complaint_year = new Date(item.values().complaint_date).getFullYear();
				console.log(oldYear);
				if (oldYear == 'all') {
					console.log("hobo")
					return true;
				} else if (oldYear == complaint_year) {
					console.log("part")
					return true;
				} else {
					return false;
				}
			});
		} else {
			caseList.filter(function(item) {
				console.log(year);
				if (item.values().campus == campus && oldYear == 'all') {
					return true;
				} else if (item.values().campus == campus && complaint_year == oldYear) {
					return true;
				} else {
					return false;
				}
			});
		}
	}
});


</script>
{% endblock %}